<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="/plugins/jquery-2.1.1/jquery.min.js"></script>
	<script src="/plugins/bootstrap-3.1.1/js/bootstrap.min.js"></script>
	<script src="/plugins/angular-1.4.9/angular.min.js"></script>
	<link href="/plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/css/sidebarPrev.css">
</head>
<body ng-app="moviesApp" ng-controller="moviesController" class="ly-bg">
	<div id="cl-wrapper" class="animate-collapse">
		<div id="pcont" class="cl-main">
			<div class="main">
				<div class="container-row" style="width:80%">
					<div class="padding-ex">
						<ul class="breadcrumb">
							<li><a href="/UserCenter">管理</a></li>
							<li class="active">影片</li>
						</ul>
						<div class="row-fluid">
							<div class="span12">
								<div class="block-flat">
									<div class="header">
										<h3>影片详情</h3>
									</div>
									<div class="content">
										<div id="movie-name">
											<h1 class="text-center">叶问1</h1>
										</div>
										<div id="movie-operation" class="text-right">
											<a href="" class="btn btn-info" ng-click="movieEdit(movie.code)">编辑</a>
													&nbsp;&nbsp;
													<a href="" class="btn btn-danger" ng-click="">删除</a>
										</div>
										<div id="movie-content" class="">
										<div id="Zoom">
<!--Content Start-->
<p style="font-size: 12px;" class="text-center"><img alt="image" src="http://images.static-bluray.com/movies/covers/41318_front.jpg" style="border: 0px; color: rgb(51, 51, 51); font-family: tahoma, arial, helvetica, sans-serif; background-color: rgb(251, 251, 251);"></p>
<p>【中 文 名】叶问/一代宗师·叶问/一代宗师叶问</p>
<p>【英 文 名】Ip Man</p>
<p>【年　　代】2008</p>
<p>【国　　家】中国香港</p>
<p>【类　　别】动作/传记/历史</p>
<p>【语　　言】普通话/粤语/日语</p>
<p>【字　　幕】简体中文字幕</p>
<p>【上映日期】2008-12-12(中国大陆)/2008-12-19(香港)</p>
<p>【IMDB评分】8.3/10 (176 votes)</p>
<p>【文件格式】x264+AC3</p>
<p>【视频尺寸】1280 x 720</p>
<p>【文件体积】1.41Gib</p>
<p>【片　　长】106 分钟</p>
<p>【导　　演】叶伟信 Wilson Yip</p>
<p>【主　　演】甄子丹 Donnie Yen ....Ip Man</p>
<p>　　　　　 &nbsp;任达华 Simon Yam ....Zhou Qing Quan</p>
<p>　　　　　 &nbsp;池内博之 Hiroyuki Ikeuchi ....Miura</p>
<p>　　　　　 &nbsp;林家栋 Ka Tung Lam ....Li Zhao</p>
<p>　　　　　 &nbsp;樊少皇 Siu-Wong Fan ....Jin Shan Zhao</p>
<p>　　　　　 &nbsp;释行宇 Xingyu Shi ....Master Zealot Lin</p>
<p>　　　　　 &nbsp;黄又南 You-Nam Wong ....Shao Dan Yuan</p>
<p>　　　　　 &nbsp;陈之辉 Chen Zhi Hui ....Master Liao</p>
<p>　　　　　 &nbsp;洪金宝 Sammo Hung</p>
<p>　　　　　 &nbsp;玛丽卡·沙拉瓦特 Mallika Sherawat</p>
<p>　　　　　 &nbsp;熊黛林 Lynn Hung</p>
<p>&nbsp;</p>
<p>【剧情简介】</p>
<p>&nbsp;</p>
<p>　　一九三零年代，中国武术之都的佛山，武风顶盛，各门各派为广纳门徒，经常集体比斗以显实力。叶问(甄子丹饰)习得一身武艺但为人低调，故未有设馆授徒，只待在家中与友人闭门切磋、钻研武术。</p>
<p>&nbsp;</p>
<p>　　以金山找(樊少皇饰)为首的北方武师，为了在佛山扬名立万，遂狠狠挫下各派馆主。金山找为搏得佛山市民的认同，决意挑战不问世事的叶问，且不惜一切逼叶问出手。叶问在妻子张永成(熊黛林饰)的鼓励下毅然出手，以熟练的咏春拳大胜金山找。经此一役，佛山掀起了炽盛的咏春热潮。</p>
<p>&nbsp;</p>
<p>　　好景不常，中日战争爆发，佛山沦陷，叶家大宅被日军强占，叶问被迫带着妻儿移居废屋。叶问一家生活艰苦，但叶问仍积极面对，一改阔少的态度，到煤炭厂当苦力，自力更生。众中国人默默耕耘之际，一批日军却前来生事，陪伴着日军主任佐腾旁边的翻译官，竟是昔日的佛山巡警李钊(林家栋饰)。</p>
<p>&nbsp;</p>
<p>　　日本将军三蒲(池内博之饰)是一名武痴，故以白米作奖赏，邀请中国人到打斗场与日军切磋，藉以观摩中国武术。叶问的好友武痴林(行宇饰)于打斗场内侮辱三蒲，被活生生击毙。叶问为寻找武痴林，到打斗场查看，甫一进场即见廖师傅被佐腾无理射杀。叶问遂把心中悲愤于打斗场上发泄出来，以一敌十，痛击日本人。三蒲对叶问的身手大为欣赏，并表示期待与叶问一战。</p>
<p>&nbsp;</p>
<p>　　叶问的挚友周清泉(任达华饰)被沦为山贼的金山找勒索。周清泉为养活一众工人，未有弃厂撤离，令叶问明白到每人都有其使命，遂留在棉花厂教众工人以咏春自卫。金山找再次来袭，一众工友在叶问带领下齐起以咏春反抗，一众卑微的工人竟能以自己的拳头击退山贼，大感振奋。</p>
<p>&nbsp;</p>
<p>　　三蒲带兵至棉花厂捉拿叶问，要求叶问向日军传授中国武术。叶问不甘作汉奸，且欲替中国人挽回尊严，遂公然挑战三蒲，要以双拳唤起中国人的团结心。三蒲自视甚高，为保名声毅然应战。佐腾为保三蒲胜出竟暗设埋伏，叶问未知已身陷危机，以咏春力战三蒲的空手道，二人在擂台上展开激烈生死决战。</p>
<p>&nbsp;</p>
<p>【幕后制作】</p>
<p>&nbsp;</p>
<p>银幕上再度点燃爱国热情</p>
<p>　　《叶问》一条非常重要的线索，就是叶问同日本侵略者的抗争。其中叶问凭一己之力击败日本武道馆十位武师，不顾个人生命安危拳打三蒲将军等情节，绝对可以激发起广大观众的爱国热情。《精武英雄》《霍元甲》等片的热血情节，在《叶问》中也有着精彩的展示。</p>
<p>&nbsp;</p>
<p>一流的武打设计</p>
<p>　　甄子丹虽然之前没有研习过咏春，但是其超高的悟性着实令人惊叹。在洪金宝的辅佐下，银幕上甄子丹的动作凌厉潇洒、咏春短打寸劲的威力一展无余。一秒钟内连击数拳的精彩表现同样给观众以级高的视觉享受。</p>
<p>&nbsp;</p>
<p>甄子丹表演风格的转变</p>
<p>　　以往甄子丹在银幕上，呈现出几乎千篇一律的脸谱化表演，《画皮》中子丹尝试喜剧路线，获得认可。这一次在《叶问》中，甄子丹为人物减肥、探访叶问故居，揣摩人物的内心世界，更加低调幽默、更加内敛。</p>
<p>&nbsp;</p>
<p>南北拳法再度PK</p>
<p>　　甄子丹饰演的叶问与樊少皇饰演的金山找分别代表了南北两派拳法，影片中他俩有两次交手，金山找的拳法大开大阖，叶问则以小制大、以静制动，第二次叶问以六点半棍法迎战来敌，以一敌二，同样十分精彩。</p>
<p>&nbsp;</p>
<p>向叶问学做好男人</p>
<p>　　叶问武功高强却为人谦逊，对老婆百依百顺，但是在爱妻遇到危险时就能毫不顾忌挺身而出，用他自己的话说，爱老婆所以才怕老婆。想要通过电影教会男友如何做新好男人，《叶问》算是一个不错的选择。</p>
<p>&nbsp;</p>
<p>花絮&nbsp;</p>
<p>·甄子丹透露，十年前就有人找他拍摄《叶问》，不过最后没有拍成，他还严肃地表示当时片方想让周星驰来演李小龙。</p>
<p>&nbsp;</p>
<p>·大陆版被删除的段落包括：为不伤害山东同胞感情，删除汉奸的山东口音；汉奸形象不提倡，删除山东拳师金山向日本人通风报信的段落；为了国人的团结精神，删除不明就理的群众暴打无辜李钊的段落。</p>
<p>&nbsp;</p>
<p>【影片截图】</p>
<p class="text-center"><img src="https://t.williamgates.net/image-EE2A_55562446.jpg" border="0" alt=""></p>
<p>&nbsp;</p>
<p><span style="color: rgb(255, 102, 0);"><span style="font-size: 14px;">默认国语发音，喜欢粤语发音的朋友一定要播放器右键--音轨---选择另外一条粤语音轨。没有最好，只有更好；没有绝对的完美，只有相对的近乎完美。</span></span></p>
<p>&nbsp;</p>
<p style="margin: 0px; padding: 0px; color: rgb(24, 55, 120); font-family: Verdana, Arial, Helvetica, sans-serif;"><font color="#ff0000"><strong><font size="4">【迅雷下载地址】 </font></strong></font></p>
<p style="margin: 0px; padding: 0px; color: rgb(24, 55, 120); font-family: Verdana, Arial, Helvetica, sans-serif;">&nbsp;</p>
<p style="margin: 0px; padding: 0px; color: rgb(24, 55, 120); font-family: Verdana, Arial, Helvetica, sans-serif;">&nbsp;</p>
<p style="margin: 0px; padding: 0px; color: rgb(24, 55, 120); font-family: Verdana, Arial, Helvetica, sans-serif;">&nbsp;</p>
<table style="BORDER-BOTTOM: #cccccc 1px dotted; BORDER-LEFT: #cccccc 1px dotted; TABLE-LAYOUT: fixed; BORDER-TOP: #cccccc 1px dotted; BORDER-RIGHT: #cccccc 1px dotted" border="0" cellspacing="0" cellpadding="6" width="95%" align="center">
    <tbody>
        <tr>
            <td style="WORD-WRAP: break-word" bgcolor="#fdfddf"><anchor><a target="_self" href="#" title="迅雷专用高速下载" ihrwvpge="thunder://QUFmdHA6Ly8yOjJAZDMuZGwxMjM0LmNvbTo4MjAzLyVFNSU4RiVCNiVFOSU5NyVBRUJEJUU1JTlCJUJEJUU3JUIyJUE0JUU1JThGJThDJUU4JUFGJUFEJUU0JUI4JUFEJUU1JUFEJTk3WyVFNyU5NCVCNSVFNSVCRCVCMSVFNSVBNCVBOSVFNSVBMCU4Mnd3dy5keTIwMTguY29tXS5ta3ZaWg==" thunderpid="00000" thundertype="" thunderrestitle="" onclick="return OnDownloadClick_Simple(this,2)" oncontextmenu="ThunderNetwork_SetHref(this)">ftp://2:2@d3.dl1234.com:8203/叶问BD国粤双语中字[电影天堂www.dy2018.com].mkv</a>&nbsp;&nbsp;</anchor></td>
        </tr>
    </tbody>
</table>
<br><div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
<a class="bds_tsina" title="分享到新浪微博" href="#"></a>
<a class="bds_tqq" title="分享到腾讯微博" href="#"></a>
<a class="bds_qzone" title="分享到QQ空间" href="#"></a>
<span class="bds_more"></span>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6810313" src="http://bdimg.share.baidu.com/static/js/bds_s_v2.js?cdnversion=405135"></script>

<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>


<br>

      
        <hr color="#CC6600" size="1px">
      

        <center><font color="#ff000">请把下载地址复制分享给你的朋友,更多人下载,下载速度更快 电影天堂www.dy2018.com欢迎你每天来</font></center>
</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<script type="text/javascript">
		var moviesApp = angular.module("moviesApp",[]);
		moviesApp.controller("moviesController", function($scope){
			$scope.moviesList = [{
				code:1, name:"叶问1", type:"动作片，爱情片",time:"2008-12-15",
			},{
				code:2, name:"叶问2", type:"动作片，爱情片",time:"2010-12-15"
			},{
				code:3, name:"叶问3", type:"动作片，爱情片",time:"2015-12-15"
			}];
			
			$scope.movieEdit = function(code){
				window.location.href="/admin/edit.html?code="+code;
			}
		});
	</script>
</body>
</html>
