<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>后台管理-M1212</title>
		<script src="/plugins/jquery-2.1.1/jquery.min.js"></script>
		<script src="/plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
		<script src="/plugins/angular-1.4.9/angular.min.js"></script>
		<link href="/plugins/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/plugins/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/css/management.css" rel="stylesheet" />
	</head>
	<body ng-app="manageLeftApp" ng-controller="manageLeftController">
		<div id="menu-left">
			<div  id="menu-left-title">
				<p class="text-center">M1212</p>
			</div>
			<div id="menu-left-user" class="container">
				<div id="menu-left-user-content">
					<img class="img-circle" src="/images/th.jpg"/>	
					<div>
						<a id="user_info" href="/usercenter"></a> 
						<a id="logout" class="text-right" style="float:right" href="" ng-click="logout()" title="Logout From Deals">
							注销
						</a>
					</div>
				</div>
			</div>
			<div id="menu-left-menu">
				<div class="menu-left-menu-group" ng-repeat="items in slideBars">
					<div class="container menu-left-menu-bar" onclick="slideToggle(this)">
						<div class="menu-left-menu-bar-title" style="line-height:50px;position:relative;left:20px;">
							<a style="color:white;" href="">{{items.firstLevel}}</a>
						</div>
					</div>
					<div id="menu-left-menu-sub" class="menu-left-menu-sub" style="display:none;">
						<div style="line-height:34px;" class="text-center" ng-repeat="item in items.secondLevel" >
							<a id="{{item.code}}" ng-click="showRight($event, item.link)"  style="color:white">{{item.item}}</a>
						</div>
					</div>
					<div style="height:10px;width:100%"></div>
				</div>
			</div>
		</div>
		<div id="content-right">
			<iframe frameborder="no" id="iframe" ng-src="{{leftView}}"></iframe>
		</div>
	</body>
	<script src="/js/admin/management.js"></script>
</html>